@use "variables";
@use "components";

@keyframes hoppa {
  0% {
        opacity: 0;
        transform: translateY(-30px)
    }

      100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes skuggas {
    0% {
        transform: translateY(-20px)
    }

    100% {
        transform: translateY(0);
    }
}

