@use "variables";
@use "components";

@keyframes hoppa {
    0% {
        opacity: 0;
        transform: translateY(-30px)
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes skuggas {
    0% {
        transform: translateY(-20px)
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes glid-ner {
    0% {
        transform: translateY(-50px)
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes snurra {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(720deg);
    }
}

@keyframes skaka {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-3px);
    }

    50% {
        transform: translateX(3px);
    }

    75% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(0);
    }
}