@use "variables";

.logotyp {
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}

.centrera {
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
    animation: glid-ner 1s ease;
}

.bild-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 30px;
    margin-bottom: 100px;

}

.bild-grid img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 30px;
    opacity: 90%;
    animation: hoppa 1s ease;
}

.bild-grid img:hover {
    transform: translateY(-10px) scale(1.1);
    opacity: 100%;
    cursor: pointer;
}


figcaption {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: 600;
}

#map {
    margin-top: 80px;
    margin-bottom: 60px;
    height: 800px;
    border-radius: 30px;
    border: 2px solid variables.$map-border;
}

.reviews {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding-top: 30px;
    margin: 0 auto;
    max-width: 1200px;
}

.reviews-block {
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px 20px 20px 20px;
}

.reviews-block:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 40px grey;
}

.stars {
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.stars img {
    width: 30px;

}

footer {
    max-width: 100%;
    background-color: variables.$footer-background;
    padding: 10px 0 20px 20px;
    margin-top: 20px;
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    .logotyp {
        max-width: 300px;
    }

    .reviews {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 600px;
        gap: 2rem;
        margin: 40px;
    }



    .bild-grid {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        cursor: pointer;
    }


    .bild-grid figure {
        display: flex;
        align-items: center;
        border: 1px solid variables.$figure-outline;
        border-radius: 30px;

    }

    .bild-grid figure:hover {
        background-color: variables.$figure-hover;
    }

    .bild-grid img {
        padding: 2rem;
        width: 150px;
        margin: 0 auto;
    }

    .bild-grid img:hover {
        transform: none;
        animation: snurra 1s linear;
    }

    figcaption {
        text-align: center;
    }

}