$web-background-color: rgb(214, 245, 255);
$footer-background: rgb(99, 216, 255);
$map-border: rgb(20, 196, 255);
$figure-outline: rgb(164, 230, 252);
$figure-hover: rgb(177, 229, 245);
$text-primary-color: black;
$footer-dark-background: white;
$background-dark: black;
$text-color-dark: white;
$box-border-dark: white;
